.container_movie {
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 0%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
    color-stop(1.00,  rgba(255, 255, 255, 0.4)),
    color-stop(0.00,  rgb(255, 255, 255, 1))
    );
    
}
.intro {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
}

.text_title {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.score_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffe300;
    margin-bottom: -1%;
}

.text_container {
    background-color: #ebe6e1;;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.text_inner {
    background-color: #ffffff;
    height: auto;
    max-width: 70%;
    margin-left: 2%;
    margin-bottom: 5%;
    -moz-box-shadow: 2px 2px 2px #222;
    -webkit-box-shadow: 2px 2px 2px #222;
    box-shadow: 2px 2px 2px #222;
}

.social-tab {
    width: -webkit-fill-available;
}
.social-item {
    display: flex; 
    height: 70px;
    margin: 18px;
}

.social-logo {
    margin-left: 5%;
    padding: 18px;
    background-color: white;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.social-item.firstItem{
    margin-top:30px;
}

.social-logo-img{
    max-width: 100%;
    max-height: 100%;
    transform: translate(5px, 1px);
    cursor: pointer;
}

.social-name {
    width: 70%;
    margin-left: 5%;
    transform: translate(9px, 20px);
    font-size: larger;
    height: 42px;
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    word-wrap: break-word;
}

.details_text {
    font-weight: bold;
}

.box_text {
    font-size: 16px;
    line-height: 180%;
    color: #252525;
    vertical-align: inherit;
    padding: 2%;
    font-family: 'Noto Sans', sans-serif;
}

table{
    padding: 5%;
    table-layout: fixed;
    width: 100%;
}

th,td {
    word-wrap: break-word;
    max-width: 100%;
}

.lang_title {
    font-size: 120%;
    font-weight: bold;
    color: #252525;  
    padding-left: 2%;
    margin-bottom: -2%;  
}

.lang_title_table {
    font-size: 120%;
    font-weight: bold;
    color: #252525; 
}

.audio_subtitles {
    font-size: 100%;
    float: left;
    vertical-align: inherit;
    color: #868686;
}
.DA_div {
    max-width: 100%;
    padding-left: 2%;
}

.DA_title {
    font-size: 120%;
    font-weight: bold;
    color: #252525;    
}

.detail_content_block--float {
    display: inline-block;
    margin-right: 35px;
    vertical-align: top;
    padding-left: 2%;
}
.detail_content_block_title {
    display: block;
    margin-bottom: 10px;
}
.roundscore {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 50px;
    width: 80px;
    height: 80px;
    color: #252525;
    background-color: #d9d9d9;
    border-radius: 50%;
    transition: color .1s ease;
}
.roundscore_circle_layer {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: background-color .3s ease,-webkit-transform 1s ease;
    transition: transform 1s ease,background-color .3s ease;
    transition: transform 1s ease,background-color .3s ease,-webkit-transform 1s ease;
    -webkit-backface-visibility: hidden;
}
.roundscore_content {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    width: 65px;
    height: 65px;
    margin-top: 7.5px;
    margin-left: 7.5px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}
.roundscore_content_score {
    text-align: center;
}
.genreicon {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 80px;
    color: #252525;
    border-radius: 50px;
    transition: color .2s ease;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.genreicon_round {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #d9d9d9;
    background-size: 100%;
    border-radius: 50%;
    transition: opacity .2s ease;
    box-shadow: inset 0 0 0 7px #d9d9d9;
}

.genreicon_name {
    display: block;
    padding-top: 5px;
    width: 100%;
    transition: color .1s ease;
    font-size: 13px;
    white-space: normal;
    line-height: 140%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 1920px) {
    .intro {
        position: absolute;
        top: 0%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* give it dimensions */
        min-height: 10em;
        width: 90%;
    }
}

.image-imdb{
    height: 30px;
    width: 68px;
    margin-right: 10px;
}

.trailer_Button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    height: 7vh;
    width: 19vw;
    left: 39%;
    background-color: yellow;
    position: absolute;
    font-size: x-large;
    font-family: NotoSans-Bold,Arial,sans-serif;
}

@media only screen and (min-width: 1440px) {
    .intro {
        position: absolute;
        top: 33%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* give it dimensions */
        min-height: 10em;
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {

    .intro {
        position: absolute;
        top: 30%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* give it dimensions */
        min-height: 10em;
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .text_inner {
        background-color: #ffffff;
        height: auto;
        max-width: 100%;
        margin-left: 0%;
    }

    .intro {
        position: absolute;
        top: 40%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* give it dimensions */
        min-height: 10em;
        width: 90%;
    }
}

@media only screen and (max-width: 460px) {
    .text_inner {
        background-color: #ffffff;
        height: auto;
        max-width: 100%;
        margin-left: 0%;
    }

    .intro {
        position: absolute;
        top: 44%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* give it dimensions */
        min-height: 10em;
        width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    .text_inner {
        background-color: #ffffff;
        height: auto;
        max-width: 100%;
        margin-left: 0%;
    }

    .text_title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 130%;
    }

    .intro {
        position: absolute;
        top: 65%;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        /* give it dimensions */
        min-height: 10em;
        width: 90%;
    }
}